.main-part {
    margin: 0 20px;
}
.main-part p {
    box-sizing: content-box;
}
.main-part input[type=checkbox], input[type=radio] {
    box-sizing: content-box !important;
}
.board {
    padding: 5px;
    display: inline-block;
    border: 3px inset #198cff;
}
#creating-board {
    display: block;
    width: 260px;
    height: 28px;
    margin: 5px auto;
    border: 3px inset #198cff;
    border-radius: 10px;
    text-align: center;
}
#new-board {
    display: block;
    width: 160px;
    margin: 12px auto;
}
#maden-boards {
    width: 860px;
}
#maden-boards > li {
    width: 255px;
    height: 300px;
    overflow: auto;
    margin: 3px 3px auto;
    padding-right: 10px;
}
.delete-board {
    width: 15px;
    height: 15px;
    margin: 2px;
    float: right;
    font-size: 10px;
    color: red;
    border-color: red;
    background-color: black;
}
.creating-todo {
    display: block;
    margin: 2px auto;
    padding: 4px;
    border: 3px inset #198cff;
    border-radius: 10px;
}
.maden-todos li {
    width: 220px;
    height: 64px;
}
.name-of-board, .edit-name-of-board {
    margin-bottom: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #198cff;
    overflow: auto;
    font: bold italic 18px "Lucida Console", Monaco, monospace;
}
.edit-name-of-board {
    width: 226px;
    height: 22px;
    margin-bottom: 3px;
}
.mark-done {
    height: 20px;
    margin: 22px 5px 0 0;
    float: left;
    border: 3px solid yellowgreen;
    border-radius: 3px;
}
.marked-todo {
    text-decoration: line-through;
    background-color: #707070;
    border-color: #D0D0D0;
}
.preparing-to-delete-todo {
    width: 20px;
    height: 20px;
    margin-top: 22px !important;
    float: left;
}
.deletion-all-selected-todos {
    margin: 7px auto;
    padding: 4px;
    border: 3px inset #004f9f;
    border-radius: 5px;
}
.name-of-todo, .edit-name-of-todo {
    display: inline-block;
    width: 120px;
    height: 29px;
    padding: 10px;
    margin: 2px;
    overflow: auto;
    font-size: 12px;
    border: 3px inset #198cff;
    border-radius: 2px;
}
.edit-name-of-todo {

}
.mark-done, .preparing-to-delete-todo, .delete-todo {
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
}
.board form > input {
    display: block;
    width: 220px;
    margin: 5px auto;
    padding: 10px;
}
.delete-todo {
    margin-top: 17px;
    float: right;
    font-size: 14px;
    border-color: red;
}