/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font:16px Tahoma, sans-serif; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
select, input, textarea        { font-size:16px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:25px Tahoma, sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }
/*----------------------------------------------------------------------------------*/
/*------------------------------------WRAPPER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    width: 900px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------HEADER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.header {
    height: 80px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #A8A8A8;
}
.navbar {
    width: 555px;
    float: left;
}
.header h1 {
    padding-top: 18px;
}
.header a {
    margin: 24px;
    padding: 10px;
    border-radius: 4px;
    background-color: #D0D0D0;
    font: 25px "PT Sans" serif;
    text-decoration: none;
}
.header strong {
    position: relative;
    bottom: 32px;
    float: right;
    font: 28px "PT Sans" serif;
    color: #180000;
}
#menu {
    width: 320px;
    height: 60px;
    margin: 10px;
    float: right;
}
#menu input, #showing-filter input, #working-with-server input {
    height: 28px;
    display: block;
    float: right;
    margin: 2px;
    padding: 0 25px;
    border: 1px solid #707070;
    border-radius: 10px;
}
#clear-storage {
    float: none !important;
    margin: 0 auto !important;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------CONTENT---------------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
    padding-bottom: 100px;
}
/*----------------------------------------------------------------------------------*/
/*------------------------------------FOOTER----------------------------------------*/
/*----------------------------------------------------------------------------------*/
.footer {
    height: 52px;
    width: 868px;
    position: absolute;
    bottom: 0;
    padding: 16px;
    border-radius: 4px;
    background-color: #D0D0D0;
}
.rights-footer {
    position: relative;
    top: 20px;
    padding-left: 15px;
    font: 18px "PT Sans" serif;
}
.rights-footer a {
    font: inherit;
    text-decoration: none;
}
#showing-filter, #working-with-server {
    height: 20px;
    float: right;
    position: relative;
    top: -24px;
}
#showing-filter {
    right: 30px;
}
#working-with-server {
    clear: both;
    top: -10px;
}
